* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

body {
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
}

dl, ol, ul {
  margin: 0 !important;
}

.form-control.input {
  background-color: #e2e3e5;
  border: none;
  border-radius: 0;
  padding: 0.5em;
  font-size: 1em;
}

.form-control.input:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a.download {
  text-decoration: none;
  background-color: #ec6608;
  padding: 5px 10px;
  margin: 0 10px;
  color: #fff;
  border-radius: 4px;
}
/*# sourceMappingURL=admin.css.map */